.checkArea {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.2em;
	height: 120px;
	width: 400px;
	box-shadow: 0 0 10px black;
	border-radius: 10px;
	color: white;
	background: rgb(103, 79, 219);
	background: linear-gradient(90deg, rgba(103, 79, 219, 1) 0%, rgba(66, 112, 205, 1) 50%, rgba(103, 79, 219, 1) 100%);
	transition: animation 0.3s;
	animation: show-area 5s ease-in-out forwards;

	.labelCheckArea {
		font-size: 2.2rem;
	}

	.inputCheckArea {
		padding: 0.2em;
		font-size: 1.8rem;
		border: none;
		border-radius: 8px;
		box-shadow: 0 0 10px black;
		transition: animation 0.3s;
		animation: input-animation 4s ease-in-out infinite;

		@keyframes input-animation {
			0% {
				box-shadow: 0 0 10px black;
			}
			25% {
				box-shadow: 0 0 5px rgb(255, 255, 255);
			}
			50% {
				box-shadow: 0 0 10px black;
			}

			75% {
				box-shadow: 0 0 5px rgb(255, 255, 255);
			}

			100% {
				box-shadow: 0 0 10px black;
			}
		}
	}

	@keyframes show-area {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}
